<style>
html {
        background-color: rgb(11, 4, 104);
      }
       html {
        background-color: rgb(31, 91, 93);
      }
      h1, h2, h3, p {
        color: yellow;
      }
      nav {
        display: flex;
        background-color: rgb(26, 12, 58);
        padding: 15px;
        justify-content: space-between;
        color: white;
        margin-left: 500px;
        margin-right: 100px;
      }
      section {
        background-color: rgb(218, 251, 5);
        margin: 15px;
        width: 570px;
      }
      
      .sche-one {
        color: white;
        text-align: center;
      }
      a{
        color: white;
      }
      ul, ol {
        color: white;
      }
    </style>