<style>
      h2, h3, p {
        color: rgb(248, 248, 247);
        text-align: center;
      }
      body {
        background-color: rgb(2, 2, 10);
      }

      nav {
        display: flex;
        background-color: rgb(46, 48, 69);
        padding: 15px;
        justify-content: space-between;
        color: white;
        margin-left: 350px;
        margin-right: 200px;
        height: -20px;
        padding-left: 25px;
        border-radius: 50px;
      }
     nav:hover {
        background-color:  purple;
        color: white;
      }
       nav:focus {
        background-color:  rgb(251, 231, 14);
        color: rgb(244, 22, 192);
      }
       nav:active {
        background-color:  rgb(241, 6, 6);
        color: rgb(236, 252, 22);
      }
      
      main {
        background-color: rgb(2, 2, 10);
        margin-bottom: 100px;
        border: no;
      }
      .learn-one {
        font-family: 'Franklin Gothic Medium';
        text-align: left;
        margin-right: px;
        color: white;
        padding-left: 60px;
      }
      
       .learn-two {
        background-color: yellow;
        width: 570px;
        font-family: 'Franklin Gothic Medium';
        text-align: left;
        color: rgb(17, 15, 15);
      }
      a{
        color: rgb(13, 247, 52);
      }
      h1,h2,h3,p {
        color: white;
        text-align: center;
        text-align: left;
      }
      footer {
        background-color: rgb(49, 21, 21);
        color: rgb(241, 236, 236);

      }
      .fot-two {
        margin-top: -80px;
      }

    </style>