<style>
body {
  font: optional;
}
       html {
        background-color: rgb(3, 27, 116);
      }
    p {
        color: yellow;
        text-align: center;
      }
      h2 {
        color: yellow;
        text-align: center;
      }
      nav {
        display: flex;
        background-color: rgb(55, 4, 242);
        padding: 15px;
        margin-bottom: 100px;
        justify-content: space-between;
      }
      main {
        display: flex;
        background-color: rgb(248, 13, 13);
        padding: 15px;
        align-items: left;
        margin: 50px;
      }
      form {
        color: white;
      }
      textarea {
        padding: 50px;
      }
      
      main {
        background-color: rgb(2, 1, 56);
        
      }
      a{
        color: white;
      }
      footer {
        color: white;
      }
      .life:hover{
        background-color: #9a9292;
        color: blue;
      }
    </style>