<style>
      h1,h2, p {
        color: rgb(248, 248, 247);
        text-align: center;
      }
      body {
        background-color: rgb(2, 2, 10);
      }
      .for-header {
        display: flex;
        background-color: rgb(46, 48, 69);
        padding: 15px;
        justify-content: space-between;
        color: white;
        margin-left: 350px;
        margin-right: 200px;
        height: -20px;
        padding-left: 25px;
      }
      .for-header:hover {
        background-color: rgb(0, 0, 0);
      }
      .for-header :focus {
        background-color: white;
      }
      .contact-nav {
        color: white;
        text-align: center;
        margin-bottom: 40px;
      }
       h1,h2, p {
        color: rgb(248, 248, 247);
        text-align: center;
      }
  
      a{
        color: rgb(13, 247, 52);
      }

      footer {
        background-color: rgb(1, 1, 1);
        color: rgb(241, 236, 236);
        margin: 0;
      }
      .button-one:hover {
        background-color: rgb(7, 249, 112);
      }
      .button-one:focus {
        background-color: rgb(236, 49, 8);
      }
    </style>