<style>
body {
  font: optional;
}
       html {
        background-color: rgb(66, 90, 173);
      }
    p {
        color: yellow;
        text-align: center;
      }
      h2 {
        color: yellow;
        text-align: center;
        font-size: 50px;
      }
      nav {
        display: flex;
        background-color: rgb(9, 3, 29);
        padding: 15px;
        margin-bottom: 100px;
        justify-content: space-between;
      }
      main {
        display: flex;
        background-color: rgb(188, 160, 207);
        padding: 15px;
        align-items: left;
        margin: 50px;
      }
      form {
        color: white;
      }
      textarea {
        padding: 50px;
      }
      
      main {
        background-color: rgb(62, 7, 124);
        
      }
      a{
        color: white;
      }
      footer {
        color: white;
      }
      .life:hover{
        background-color: #9a9292;
        color: rgb(41, 227, 8);
      }
       .life:focus{
        background-color: #9a9292;
        color: rgb(250, 23, 23);
      }
    </style>