<style>
      h2, h3, p {
        color: rgb(248, 248, 247);
        text-align: center;
      }
      body {
        background-color: rgb(2, 2, 10);
      }

      nav {
        display: flex;
        background-color: rgb(46, 48, 69);
        padding: 15px;
        justify-content: space-between;
        color: white;
        margin-left: 350px;
        margin-right: 200px;
        height: -20px;
        padding-left: 25px;
      }
      h1 {
        color: yellow;
        text-align: center;
      }
     p {
        color: white;
        text-align: center;
      }
     
      article {
        font-family: 'Franklin Gothic Medium';
        text-align: left;
        margin-right: px;
        color: white;
        padding-left: 60px;
      }
      hr {
        margin-top: 50px;
      }

      a{
        color: rgb(13, 247, 52);
      }
      figcaption {
        color: white;
        text-align: center;
        margin-top: -50px;
        text-align: left;
      }
      footer {
        background-color: rgb(49, 21, 21);
        color: rgb(241, 236, 236);

      }
    </style>