 <style>
       html {
        background-color: black;
      }
      h1, p {
        color: yellow;
      }
      nav {
        display: flex;
        background-color: rgb(121, 16, 21);
        padding: 25px;
        justify-content: space-between;
      }
      article {
        color: rgb(218, 251, 5);
      }
      main {
        background-color: rgb(14, 50, 50);
      }
      a {
        color: white;
      }
    </style>