 <style>
 body {

 }
       html {
        background-color: rgb(20, 27, 87);
      }
      p {
        color: yellow;
        
      }
      h1 {
        color: yellow;
        font-size: 50px;
        text-align: center;
      }
      nav {
        display: flex;
        background-color: rgb(10, 7, 109);
        padding: 20px;
        justify-content: space-between;
      }
      article {
        color: rgb(218, 251, 5);
      }
      main {
        background-color: rgb(14, 50, 50);
      }
      a {
        color: white;
      }
    </style>